<!--<!DOCTYPE web-app PUBLIC-->
<!-- "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"-->
<!-- "http://java.sun.com/dtd/web-app_2_3.dtd" >-->

<!--<web-app>-->
<!--  <display-name>Archetype Created Web Application</display-name>-->
<!--  <servlet>-->
<!--    <servlet-name>HelloServlet</servlet-name>-->
<!--    <servlet-class>com.example.HelloServlet</servlet-class>-->
<!--  </servlet>-->

<!--  <servlet-mapping>-->
<!--    <servlet-name>HelloServlet</servlet-name>-->
<!--    <url-pattern>/hello</url-pattern>-->
<!--  </servlet-mapping>-->
<!--</web-app>-->


<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         version="3.1">

  <display-name>Spring MVC App</display-name>

  <!-- Spring DispatcherServlet -->
  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

    <!-- Load config file -->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring-servlet.xml</param-value>
    </init-param>

    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

</web-app>